<!-- Contenedor principal para centrar el contenido -->
<div class="container">
    <!-- Card de login, que es el formulario de inicio de sesión -->
    <div class="login-card">
        <!-- Título del formulario -->
        <h1>Inicia Sesión</h1>

        <!-- Icono que representa a un usuario, de Material Icons -->
        <i class="material-icons icon" style="font-size: 100px;">person</i>

        <!-- Campo de entrada para el email -->
        <mat-form-field appearance="fill" class="input-field">
            <!-- Etiqueta del campo de texto -->
            <mat-label>Ingrese su email:</mat-label>
            <!-- Input para capturar el email con un modelo de datos bidireccional ngModel -->
            <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

        <!-- Campo de entrada para la contraseña -->
        <mat-form-field class="input-field">
            <!-- Etiqueta del campo de contraseña -->
            <mat-label>Ingrese su contraseña:</mat-label>
            <!-- Input para capturar la contraseña, su tipo de entrada es dinámico: 'password' o 'text' dependiendo de la variable hide -->
            <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <!-- Botón para mostrar/ocultar la contraseña -->
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <!-- Icono de Material Icons que cambia según el estado de la variable hide -->
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- Mensaje con la longitud mínima requerida para la contraseña, se actualiza con el valor del input -->
            <mat-hint align="start">Mínimo: 6 caracteres/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!-- Botón para enviar el formulario de inicio de sesión -->
        <button class="boton" mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>

        <!-- Enlace para redirigir al usuario a la página de registro si no tiene cuenta -->
        <div class="signup-link">
            <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
        </div>
    </div>
</div>
