<!-- TABLA DE PRODUCTOS -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let producto of coleccionProductos; let i = index">
            <th scope="row">{{i + 1}}</th> <!-- Índice dinámico -->

            <td>
                <img src="{{producto.imagen}}" alt="{{producto.alt}}" width="100px">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.categoria}}</td>

            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning"
                    data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- BOTÓN DE AGREGAR NUEVO PRODUCTO -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
</button>

<!-- MODAL PARA AGREGAR NUEVO PRODUCTO -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.: Iphone 16">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese una descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="Ej.: Iphone 16 pro">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="...">
                </div>

                <div class="mb-3">
                    <label class="form-label">Selecciona una categoría:</label>
                    <select class="form-control" formControlName="categoria" class="form-select">
                        <option selected>Elija una opción</option>
                        <option value="celulares">Celulares</option>
                        <option value="computadoras">Computadoras</option>
                        <option value="relojes">Relojes</option>
                        <option value="tablets">Tablets</option>
                        <option value="televisores">Televisores</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese vínculo de una imagen">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo de la imagen:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej.: celular iphone">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="agregarProducto()"
                    data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA EDITAR UN PRODUCTO -->
<div class="modal fade" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre" [placeholder]="productoSeleccionado?.nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion" [placeholder]="productoSeleccionado?.descripcion">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio" [placeholder]="productoSeleccionado?.precio">
                </div>
                <div class="mb-3">
                    <label class="form-label">Selecciona una categoría:</label>
                    <select class="form-control" formControlName="categoria">
                        <option selected>{{productoSeleccionado?.categoria}}</option>
                        <option value="celulares">Celulares</option>
                        <option value="computadoras">Computadoras</option>
                        <option value="relojes">Relojes</option>
                        <option value="tablets">Tablets</option>
                        <option value="televisores">Televisores</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input class="form-control" type="text" formControlName="imagen" [placeholder]="productoSeleccionado?.imagen">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo de la imagen:</label>
                    <input class="form-control" type="text" formControlName="alt" [placeholder]="productoSeleccionado?.alt">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="editarProducto()"
                    data-bs-dismiss="modal">Guardar cambios</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR UN PRODUCTO -->
<div class="modal fade" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar este producto?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" (click)="borrarProducto()" data-bs-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
