<!-- Contenedor principal que utiliza un diseño de caja flexible -->
<div class="container">
    
    <!-- Fila dentro del contenedor, usada para organizar columnas -->
    <div class="row">
        
        <!-- Título principal de la página, centrado dentro de la fila -->
        <h1>Admin</h1>
        
        <!-- Columna que ocupa el espacio restante dentro de la fila -->
        <div class="col">
            
            <!-- Componente de Angular que representa una tabla de productos -->
            <app-table></app-table>
        </div>
    </div>
</div>
