<!-- acerca-de.component.html -->

<div class="acerca-de-container">
    <h1>Acerca de Nosotros</h1>
    <p>Somos una empresa dedicada a ofrecer los mejores productos del mercado. Nuestra misión es proporcionar calidad y satisfacción a nuestros clientes. Con un equipo altamente capacitado, trabajamos cada día para mejorar y brindar la mejor experiencia de compra online.</p>
  
    <h2>Nuestra Historia</h2>
    <p>Desde nuestro inicio en 2024, hemos decaido gracias a la mala gestion del gobierno, a fines de noviembre de 2024 nos fundimos.</p>
  </div>
  