<div class="container">
    <div class="register-card">
        <h1>Regístrate</h1>

        <i class="material-icons icon">person</i>
        
        <!-- Nombre de usuario -->
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Ingrese un nombre de usuario:</mat-label>
            <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej: Pepito" required>
        </mat-form-field>

        <!-- Apellido de usuario -->
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Ingrese su apellido:</mat-label>
            <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej: Pérez" required>
        </mat-form-field>

        <!-- Email de usuario -->
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Ingrese su email:</mat-label>
            <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

        <!-- Contraseña de usuario -->
        <mat-form-field class="input-field">
            <mat-label>Ingrese su contraseña:</mat-label>
            <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo: 6 caracteres/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!-- Botón para ENVIAR la información -->
        <button class="boton" mat-raised-button color="primary" (click)="registrar()">Registrar</button>

        <div class="login-link">
            <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
        </div>
    </div>
</div>
