.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.custom-card {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; /* Para que el contenido se apile verticalmente */
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: auto; /* Ajusta la altura según el tamaño de la imagen */
}

.card-header img {
  width: 100%;
  height: auto;  /* Mantiene el aspecto de la imagen */
  object-fit: cover;  /* Asegura que la imagen cubra todo el área del encabezado */
  border-bottom: 1px solid #ddd; /* Añade una separación entre la imagen y el cuerpo */
}

.header-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Fondeo del texto para mejorar visibilidad */
  padding: 5px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: black; /* Cambiar el color del título a negro */
}


.card-subtitle {
  font-size: 1em;
  margin: 5px 0;
}

.card-body {
  padding: 15px;
  flex-grow: 1; /* Hace que el cuerpo crezca para ocupar el espacio disponible */
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.description {
  font-size: 0.9em;
  color: #555;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-btn {
  background-color: #2196F3;
  color: white;
}

.buy-btn:hover {
  background-color: #1976D2;
}

.cart-btn {
  background-color: #FF4081;
  color: white;
}

.cart-btn:hover {
  background-color: #F50057;
}
