<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sobre Nosotros</h3>
        <p>Información sobre la empresa, misión y visión.</p>
      </div>
  
      <div class="footer-section">
        <h3>Enlaces Rápidos</h3>
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#contacto">Contacto</a></li>
          <li><a href="#faq">Preguntas Frecuentes</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: contacto@tuempresa.com</p>
        <p>Teléfono: +123 456 7890</p>
      </div>
  
      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <ul class="social-media">
          <li><a href="https://facebook.com" target="_blank"><img src="../../../../assets/Facebook_Logo_(2019).png" alt="Facebook" /></a></li>
          <li><a href="https://twitter.com" target="_blank"><img src="../../../../assets/png-clipart-icon-logo-twitter-logo-twitter-logo-blue-social-media-thumbnail.png" alt="Twitter" /></a></li>
          <li><a href="https://instagram.com" target="_blank"><img src="../../../../assets/Instagram_icon.png.webp" alt="Instagram" /></a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados al peronismo.</p>
    </div>
  </footer>
  