<!-- contacto.component.html -->

<div class="contacto-container">
    <h1>Contacto</h1>
    <p>Si tienes alguna pregunta o inquietud, por favor no dudes en ponerte en contacto con nosotros.</p>
  
    <form (ngSubmit)="enviarFormulario()" #formularioContacto="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" class="form-control" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" class="form-control" ngModel required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!formularioContacto.valid">Enviar</button>
    </form>
  </div>
  